<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/styling :: styling"></div>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<h1>Welcome to Our Blog Post Site!</h1>

		<div class="row">
			<div th:each="blog:${posts}" class="col-md-12">
				<div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 th:text="${blog.title}"></h2>
						</div>
						<div class="panel-body">
							<strong>
								<p th:text="${blog.author}" />
							</strong>
							<p th:text="${blog.blogEntry}" />
							<p th:text="${blog.id}" />
						</div>
						<div class="panel-footer">
							<!-- Link to Update -->
							<a href="#" th:href="@{blogposts/{id}/edit(id=${blog.id})}">
								<button class="btn btn-light">Edit Post</button>
							</a>
							<!-- Link to Show  -->
							<a href="#" th:href="@{blogposts/{id}(id=${blog.id})}">
								<button class="btn btn-light ">View Post</button>
							</a>
							<!--  Link to Destroy -->
							<form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
								class="form-horizontal">
								<div class="form-group">
									<input type="hidden" name="_method" value="delete" />
									<button type="submit" class="btn btn-danger"
										th:text="Delete">Delete</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>